ENV=development
PORT=5050
REDISCLOUD_URL=redis://localhost:6379

ACTIVEPLAY_SECRET=x
CORS_WHITE_LIST=http://localhost:5050,http://localhost:3000,http://cityofbrass.localhost:3000,https://cityofbrass.vandelden.family,https://dnd.vandelden.family
