<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <title>ActivePlay™</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/badge.css" rel="stylesheet">
  <link href="/stylesheets/activeplay.v0.5.css" rel="stylesheet">
</head>
<body>
